@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 44px;
}

.title-nav {
    font-weight: 500;
    font-size: 18px;
    color: #3A404E;
}

.logo {
    height: 27px;
    width: 27px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #3A404E;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

#btn-entrar {
    text-decoration: none;
    color: #3A404E;
    border: none;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 47px;
    height: 24px;
    cursor: pointer;
}

#btn-cadastrar {
    border: none;
    border-radius: 8px;
    background-color: #8E2424;
    width: 112px;
    height: 44px;
    padding: 10px 18px;
    color: #FFFFFF;
    cursor: pointer;
}

/* CABEÇALHO */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 407px;
    gap: 24px;
    padding: 96px 0;
}

.sub-heading {
    font-weight: 600;
    font-size: 16px;
    color: #8E2424;
}

.heading-description {
    width: 791px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* SESSÃO DE MÉTRICAS */

.content-metricas {
    width: 1440px;
    height: 288px;
    gap: 64px;
    padding-bottom: 96px;
}

.metricas {
    width: 1280px;
    height: 192px;
    gap: 64px;
    padding: 0 32px;
}

.metricas-group {
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 192px;
    gap: 32px;    
}

.metric-item {
    width: 280px;
    height: 168px;
    gap: 20px;    
}

.number {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color:#8E2424;
}

.text {
    font-weight: 500;
    font-size: 18px;
}

.supporting-text {
    font-weight: 400;
    font-size: 16px;
}

/* SESSÃO DE TALENTOS */

.vagas {
    width: 1440px;
    height: 1798px;
    gap: 64px;
    padding: 96px 0;
}

.container-talentos {
    width: 1440px;
    height: 1798px;
    gap: 64px;
    padding: 96px 0;
}

.texto-talentos {
    align-items: center;
    gap: 32px;
    padding: 0 32px;
    width: 1280px;
    height: 602px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem-talentos {
    width: 1116px;
    height: 400px;
}

.sub-talentos {
    color: #8E2424;
    background-color: #F9F4F4;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.vagas-opc {
    width: 768px;
    height: 358px;
}

.nome-vaga {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 32px;
}

.job-post {
    width: 768px;
    height: 136px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #EAECF0;
    margin-bottom: 32px;
}

.vagas-abertas {
    width: 1280px;
    height: 940px;
}

.menu-vagas {
    width: 1280px;
    height: 358px;
    gap: 64px;
    padding: 0 32px; 
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.info-vaga {
    display: flex;
    flex-direction: row;
    width: 720px;
    height: 24px;
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
}
